body {
  font-family: "Avenir Next";
  background-color: #26d0c9 ;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

li {
  list-style: none;
  float: left;
  font-family: sans-serif;
}

.header {
  background-color: #fff;
  color: #26d0c9;
  height: 100px;
}

.header-logo {
  float: left;
  font-size: 60px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 40px 30px;
  font-size: 20px;
  color :#26d0c9;
}

.main {
  padding: 50px 50px;
}

.copy-container h1 {
  font-size: 60px;
  margin:2px;
 color: #fff; 
 background-color: #26d0c9;
}.copy-container h2 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom:0px;
 color: #fff; 
 background-color: #26d0c9;
}

.copy-container p {
  font-size: 20px;
  color: #fff;
  padding: 20px 20px;
  background-color: #26d0c9;
}



.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 700px;
  /* Gantikan property margin-top ke 100px */
  margin-top: 100px;
  
  
}

.section-title {
  
  /* Gantikan font-size ke 28px */
  font-size : 28px;
  
  /* Gantikan property padding-bottom ke 15px */
  padding-bottom : 15px;


  
  /* Gantikan property margin-bottom ke 50px */
  margin-bottom :50px;
  color: #fff; 
 background-color: #26d0c9;
}

.contents-item {
  float: left;
  /* Gantikan margin-right ke 40px */
  margin:20px ;
  padding:0px;
}

/* Gantikan font-size dan margin-top tag <p> yang didalam contents-item */
.contents-item p{
  font-size : 24px;
  margin-top : 30px;
  color: #fff; 
 background-color: #26d0c9;
  
}
.contents-item h3{
  font-size : 24px;
  margin-top : 30px;
  color: #fff; 
 background-color: #26d0c9;
  
}


.footer {
  background-color: #2f5167;
  color: #26d0c9;
  height: 10px;
  padding: 50px;
  margin: 10px 10px 10px 10px;

}
